doctype html
head
  title Delete #{fileName}
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='stylesheet' href='/stylesheets/style.css')
  script(type='text/javascript' src='/js/lib/jquery.min.js')
body
  center
    h1#title #{title || fileName}
    p#actionMessage.error Are you sure you want to delete this file?
    form#deleteForm(method='post' action='/delete')
      input(type='hidden' name='file' value='#{fileName}')
      input(type='hidden' name='returnPath' value='#{deleteReturnPath}')
      button(type='submit') Confirm
    a(href='#{cancelReturnPath}') Go Back
