doctype html
head
  title Edit #{fileName}
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='stylesheet' href='/stylesheets/style.css')
  script(type='text/javascript' src='/js/lib/jquery.min.js')
body
  center
    h1#title #{fileName}
    form#editForm.vpad(method='post' action='/edit')
      input(type='hidden' name='file' value='#{fileName}')
      input(type='hidden' name='returnPath' value='#{returnPath}')
      input#title(type='text' name='title' placeholder='Title' value='#{title || ""}' autofocus)
      textarea#description(form='editForm' name='description' placeholder='Description') #{description}
      div.hpad
        label
          -if(public)
            input(type='checkbox', name='public' value='yes' checked)
          -else
            input(type='checkbox', name='public' value='yes')
          | Public
        input(type='submit' value='Save')
    a(href='#{returnPath}') Go Back
