doctype html
html
  head
    -if(title != null)
      title= title
    -else
      title Info
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href='/stylesheets/style.css')
body
  center
    -if(title != null)
      h1#title= title
    -else
      h1#title= Info
    -if(message != null)
      -if(error)
        p.red= message
      -else
        p= message
    -if(returnPath != null)
      a(href='#{returnPath}') Go Back
