doctype html
html
  head
    -if(title != null)
      title= title
    -else
      title= Info
body
  center
    -if(title != null)
      h1#title= title
    -else
      h1#title= Info
    -if(message != null)
      p= message
    a(href='#{returnPath || "/"}') Return
