doctype html
html
  head
    title= title
    link(rel='stylesheet' href='/stylesheets/style.css')
    script(type='text/javascript' src='/js/lib/jquery.min.js')
    script(type='text/javascript' src='/js/lib/js.cookie.js')
    script(type='text/javascript' src='/js/time.js')
body(onload='renderTimes();')
  h1#title= title
  div#uploadListingContainer
    -if(uploads.length == 0)
      span There's nothing here.
    -else
      include listingBar
    each u,i in uploads
      li(class='uploadListing')
        -if(u.encrypted)
          a(class='encrypted' href='/#{u.fileName}')= u.title || u.fileName
        -else
          a(href='/#{u.fileName}')= u.title || u.fileName
        div#uploadDetails
          | at 
          span(class='uploadTime' style='display:none;')= u.time
          -if(showUser)
            |  by 
            span(class='uploadUser') <b>#{u.user}</b>
    -if(uploads.length > 0)
      include listingBar
