doctype html
html
  head
    title= title
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href='/stylesheets/style.css')
    script(src='/js/lib/jquery.min.js')
    script(src='/js/lib/js.cookie.js')
    script(src='/js/listing.js')
    script(src='/js/time.js')
body
  include globalBar
  div#header
    h1#title= title
  div#tools
    span
      | Show 
      select#listingCount(onchange='updateListing();')
        option 15
        option 20
        option 25
        option 30
        option 35
        option 40
        option 45
        option 50
      |  files per page
      script.
        $('#listingCount').val('#{count}');
    -if(nTotal > 0)
      -if(nTotal < count)
        p.floatRight #{nTotal} #{nTotal != 1 ? "files" : "file"}
      -else
        p.floatRight Showing #{start}-#{end} of #{nTotal} files / Page #{page}
  -if(nTotal == 0 && listingType == 'private')
    p.pink You haven't uploaded anything yet.
  -else if(uploads.length == 0)
    p.pink There's nothing here.
  -else
    table#listing(border='0' cellpadding='5px' cellspacing='0')
      each u,i in uploads
        tr
          -if(u == null)
            td.expand
              a.red(href='/#{u.fileName}')= u.fileName
            td.alignRight
              | Database Error
          -else
            td.expand
              -if(u.encrypted)
                a.pink(href='/#{u.fileName}')= u.title || u.fileName
              -else
                a(href='/#{u.fileName}')= u.title || u.fileName
            -if(session.admin || session.validate(u.user))
              td
                a(href='/edit/#{u.fileName}')
                  img(src='/edit.png' height='16px')
              td
                a(href='/delete/#{u.fileName}')
                  img(src='/delete.png' height='16px')
            td.alignRight
              span.uploadTime.hidden= u.time
            -if(listingType == 'public')
              td.alignRight
                a(href='/user/#{u.user}')= u.user
      script.
        renderRelativeTimes();
    div#pageBar
      -if(page > 1)
        a.floatLeft(href='?page=#{page - 1}&count=#{count}') Previous
      -if(lastPage == false)
        a.floatRight(href='?page=#{page + 1}&count=#{count}') Next
