extends layout
block content
  h1#title= title
  -if(uploads.length == 0)
    span There's nothing here.
  -else
    include listingBar
  each u,i in uploads
    li(class='uploadListing')
      -if(u.title != null)
        -if(u.encrypted)
          a(class='encrypted' href='/u.title}')= u.title
        -else
          a(href='/u.title}')= u.title
      -else
        -if(u.encrypted)
          a(class='encrypted' href='/#{u.fileName}')= u.fileName
        -else
          a(href='/#{u.fileName}')= u.fileName
      -if(showUser)
        span(class='uploadInfo') Uploaded at <i>#{u.time ? u.time.toString() : '(null)'}</i> by <b>#{u.user || '(null)'}</b>
      -else
        span(class='uploadInfo') Uploaded at <i>#{u.time ? u.time.toString() : '(null)'}</i>
  -if(uploads.length > 0)
    include listingBar
