doctype html
html
  head
    title= title
    link(rel='stylesheet' href='/stylesheets/style.css')
    script(type='text/javascript' src='/js/lib/jquery.min.js')
    script(type='text/javascript' src='/js/lib/js.cookie.js')
    script(type='text/javascript' src='/js/time.js')
body(onload='renderTimes();')
  h1#title= title
  -if(uploads.length == 0)
    span There's nothing here.
  -else
    include listingBar
  each u,i in uploads
    li(class='uploadListing')
      -if(u.title != null)
        -if(u.encrypted)
          a(class='encrypted' href='/u.title}')= u.title
        -else
          a(href='/u.title}')= u.title
      -else
        -if(u.encrypted)
          a(class='encrypted' href='/#{u.fileName}')= u.fileName
        -else
          a(href='/#{u.fileName}')= u.fileName
      div#uploadDetails
        -if(showUser)
          | by 
          span(class='uploadUser') <b>#{u.user}</b>
        |  at 
        span(class='uploadTime' style='display:none;')= u.time
  -if(uploads.length > 0)
    include listingBar
