doctype html
html
  head
    title= title
    link(rel='stylesheet', href='./stylesheets/style.css')
  body
    center
      h1= title
      h2
        | Page #{page}
    each u,i in uploads
      li(class='uploadListing')
        -if(u.encrypted)
          span(class='lockFlag')
            | L
        -else
          span(class='lockFlag')
            | &nbsp;
        -if(u.title != null)
          a(class='uploadLink', href='#{u.externalPath}')= u.title
        -else
          a(class='uploadLink', href='#{u.externalPath}')= u.fileName
        span(class='uploadTime')= moment(u.uploadTime).format("Y/MM/DD HH:mm:SS")
    center
      -if(page > 1)
        a(class='pageLink', href='?page=#{page - 1}')
          | Previous
      -if(lastPage == false)
        a(class='pageLink', href='?page=#{page + 1}')
          | Next
