doctype html
html
  head
    title= title
    link(rel='stylesheet' href='/stylesheets/style.css')
    script(type='text/javascript' src='/js/lib/jquery.min.js')
    script(type='text/javascript' src='/js/lib/js.cookie.js')
    script(type='text/javascript' src='/js/listing.js')
    script(type='text/javascript' src='/js/time.js')
body(onload='renderTimes();')
  h1#title= title
  div#optionBar
    -if(listingType == 'public')
      a(href='/private') Private
    -else if(listingType == 'private')
      a(href='/public') Public
    -else
      a(href='/private') Private
      a(href='/public') Public
    div#listingCountContainer(style='display:none;')
      | Show 
      select#listingCount(onchange='updateListing();')
        option 5
        option 10
        option 15
        option 20
        option 25
        option 30
        option 35
        option 40
        option 45
        option 50
      |  files per page
    script(type='text/javascript').
      $('#listingCount').val('#{count}');
      $('#listingCountContainer').show();
    -if(session.auth())
      a.floatRight(href='/logout') Log Out
    -else
      a.floatRight(href='/login') Log In
  -if(uploads.length == 0)
    span There's nothing here.
  -else
    table#uploadListing(border='0' cellpadding='7px' cellspacing='0')
      each u,i in uploads
        tr
          td
            -if(u.encrypted)
              a(class='encrypted' href='/#{u.fileName}')= u.title || u.fileName
            -else
              a(href='/#{u.fileName}')= u.title || u.fileName
          -if(session.auth(u.user))
            td
              a(href='/edit/#{u.fileName}') Edit
            td
              a(href='/delete/#{u.fileName}') Delete
          -else
            td
            td
          td(style='display:none;')
            span(class='uploadTime')= u.time
          -if(listingType == 'public')
            td
              a(href='/user/#{u.user}')= u.user
    div(id='listingBar')
      div#listingBarLeft
        -if(page > 1)
          a(class='pageLink', href='?page=#{page - 1}&count=#{count}') Previous
        -else
          span(class='hidden pageLink') Previous
      -if(uploads.length > 0)
        span(class='page') Page #{page}
      div#listingBarRight
        -if(lastPage == false)
          a(class='pageLink', href='?page=#{page + 1}&count=#{count}') Next
        -else
          span(class='hidden pageLink') Next
