doctype html
html
  head
    title= title
    link(rel='stylesheet', href='./stylesheets/style.css')
  body
    center
      h1= title
      h2
        | Page #{currentPage}
    each u,i in uploads
      li(class='uploadListing')
        if u.title != null
          a(href='#{u.externalPath}')= u.title
        else
          a(href='#{u.externalPath}')= u.fileName
        if u.description != null
          p(class='uploadDescription')= u.description
        span(class='uploadTime')= moment(u.uploadTime).format("Y/MM/DD HH:mm:SS")
    center
      if currentPage > 1
        a(class='pageLink', href='?page=#{currentPage - 1}')
          | Previous
      if lastPage == false
        a(class='pageLink', href='?page=#{currentPage + 1}')
          | Next
