doctype html
html
  head
    title= title
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href='/stylesheets/style.css')
    script(type='text/javascript' src='/js/lib/jquery.min.js')
    script(type='text/javascript' src='/js/lib/js.cookie.js')
    script(type='text/javascript' src='/js/listing.js')
    script(type='text/javascript' src='/js/time.js')
body(onload='renderTimes();')
  div#globalBar.childPad
    -if(listingType == 'private')
      -if(session.validate())
        a.pink(href='/') Upload
        span.divider
      a.green(href='/public') Public
    -else if(listingType == 'public')
      -if(session.validate())
        a.pink(href='/') Upload
        span.divider
        a.green(href='/private') Private
    -else if(listingType == 'userPublic')
      -if(session.validate())
        a.pink(href='/') Upload
        span.divider
        a.green(href='/private') Private
        span.divider
      a.green(href='/public') Public
    span.floatRight
      -if(session.validate())
        a(href='/logout') Log Out
      -else
        a(href='/login') Log In
  div#header
    h1#title= title
    div#options
      span#listingCountContainer
        | Show 
        select#listingCount(onchange='updateListing();')
          option 15
          option 20
          option 25
          option 30
          option 35
          option 40
          option 45
          option 50
        |  files per page
        script(type='text/javascript').
          $('#listingCount').val('#{count}');
      span#page.floatRight Page #{page}
  -if(uploads.length == 0)
    span There's nothing here.
  -else
    table#uploadListing(border='0' cellpadding='5px' cellspacing='0')
      each u,i in uploads
        tr
          td= (count * (page-1)) + (i+1)
          td.expand
            -if(u.encrypted)
              a.pink(href='/#{u.fileName}')= u.title || u.fileName
            -else
              a(href='/#{u.fileName}')= u.title || u.fileName
          -if(session.admin || session.validate(u.user))
            td.childPad
              a(href='/edit/#{u.fileName}') Edit
              span.divider
              a.red(href='/delete/#{u.fileName}') Delete
          -else
            td
          td
            span.uploadTime= u.time
          -if(listingType == 'public')
            td
              a(href='/user/#{u.user}')= u.user
    div#pageBar
      -if(page > 1)
        a.floatLeft(href='?page=#{page - 1}&count=#{count}') Previous
      -else
        span.floatLeft.hidden Previous
      -if(lastPage == false)
        a.floatRight(href='?page=#{page + 1}&count=#{count}') Next
      -else
        span.floatRight.hidden Next
