doctype html
html
  head
    title= title
    link(rel='stylesheet' href='/stylesheets/style.css')
    script(type='text/javascript' src='/js/lib/jquery.min.js')
    script(type='text/javascript' src='/js/lib/js.cookie.js')
    script(type='text/javascript' src='/js/listing.js')
    script(type='text/javascript' src='/js/time.js')
body(onload='renderTimes();')
  div#globalBar
    span.childPad
      span#title= title
      -if(listingType == 'private')
        span.divider
        a.listingLink(href='/public') Public
      -else if(listingType == 'public')
        -if(session.auth())
          span.divider
          a.listingLink(href='/private') Private
      -else if(listingType == 'userPublic')
        span.divider
        -if(session.auth())
          a.listingLink(href='/private') Private
        a.listingLink(href='/public') Public
      span.floatRight
        -if(session.auth())
          a(href='/logout') Log Out
        -else
          a(href='/login') Log In
  div#optionBar
    span.childPad
      span#page Page #{page}
      span.divider
      span#listingCountContainer
        | Show 
        select#listingCount(onchange='updateListing();')
          option 5
          option 10
          option 15
          option 20
          option 25
          option 30
          option 35
          option 40
          option 45
          option 50
        |  files per page
        script(type='text/javascript').
          $('#listingCount').val('#{count}');
  -if(uploads.length == 0)
    span There's nothing here.
  -else
    table#uploadListing(border='0' cellpadding='6px' cellspacing='0')
      each u,i in uploads
        tr
          -if(u.encrypted)
            td.encrypted
              img(src='/padlock.png')
          -else
            td.encrypted
              img(src='/padlock.png' style='visibility:hidden;')
          td.expand
            a(href='/#{u.fileName}')= u.title || u.fileName
          -if(session.auth(u.user))
            td
              a.warnLink(href='/delete/#{u.fileName}') Delete
            td
              a(href='/edit/#{u.fileName}') Edit
          -else
            td
            td
          td(style='display:none;')
            span(class='uploadTime')= u.time
          -if(listingType == 'public')
            td
              a(href='/user/#{u.user}')= u.user
    div#listingBar
      div#listingBarLeft
        -if(page > 1)
          a.pageLink(href='?page=#{page - 1}&count=#{count}') Previous
        -else
          span.hidden.pageLink Previous
      div#listingBarRight
        -if(lastPage == false)
          a(class='pageLink', href='?page=#{page + 1}&count=#{count}') Next
        -else
          span.hidden.pageLink Next
