doctype html
html
  head
    -if(title != null)
      title= title
    -else
      title= fileName
    link(rel='stylesheet' href='/stylesheets/style.css')
    script(type='text/javascript' src='/js/lib/jquery.min.js')
    script(type='text/javascript' src='/js/lib/js.cookie.js')
    script(type='text/javascript' src='/js/lib/aes.js')
    script(type='text/javascript' src='/js/view.js')
    script(type='text/javascript' src='/js/time.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/highlight.min.js')
    script(type='text/javascript' src='/js/lib/highlightjs-line-numbers.js')
    script(type='text/javascript').
      var fileName = '#{fileName}', fileExt = '#{fileExt}', isImage = #{isImage};
    -if(encrypted)
      script(type='text/javascript').
        var encrypted = true, cipherText = "#{content}";
    -else
      script(type='text/javascript').
        var encrypted = false;
  body
    div#globalBar
      span.childPad
        span#title= title || fileName
        span.divider
        -if(session.auth())
          a.listingLink(href='/private') Private
        a.listingLink(href='/public') Public
        span.floatRight
          -if(session.auth())
            a(href='/logout') Log Out
          -else
            a(href='/login') Log In
    -if(description != null)
      p#description= description
    div#optionBar
      span.childPad
        -if(encrypted)
          div#decryption
            input#passwordEntry(placeholder='Password' type='password')
            button#decryptButton(disabled='true' onclick='decrypt();') Decrypt
          a#downloadLink(style='display:none;' href='/raw/#{fileName}' download='#{fileName}') Download
        -else
          a#downloadLink(href='/raw/#{fileName}' download='#{fileName}') Download
        -if(session.auth(user))
          span.divider
          a(href='/edit/#{fileName}') Edit
          a.warnLink(href='/delete/#{fileName}') Delete
        -if(isImage == false)
          span.childPad#textTools(style='display:none;')
            span.divider
            button#copyTextButton(onclick='copyToClipboard();') Copy Text
            label#lineNumbers
              input#lineNumbersCheckbox(type='checkbox' onclick='toggleLineNumbers();')
              | Line Numbers
        div.floatRight
          span.uploadTime= time
          |  by 
          bold
            a(href='/user/#{user}')= user
          script(type='text/javascript').
            renderTimes();
    -if(encrypted)
      -if(isImage)
        center#imageContainer(style='display:none;')
          img#content
      -else
        div#textContainer(style='display:none;')
          code#content
    -else
      -if(isImage)
        center#imageContainer
          img#content(src='/raw/#{fileName}')
      -else
        div#textContainer
          code#content= content
