doctype html
html
  head
    title= title
    -if(encrypted)
      link(rel='stylesheet', href='../stylesheets/style.css')
      script(type='text/javascript' src='../js/lib/jquery.min.js')
      script(type='text/javascript' src='../js/lib/aes.js')
      script(type='text/javascript' src='../js/lib/js.cookie.js')
      script(type='text/javascript' src='../js/main.js')
      script(type='text/javascript').
        var encrypted=true;
        var cipherText="!{content}";
    -else
      link(rel='stylesheet', href='./stylesheets/style.css')
      script(type='text/javascript' src='./js/lib/jquery.min.js')
      script(type='text/javascript' src='./js/lib/aes.js')
      script(type='text/javascript' src='./js/lib/js.cookie.js')
      script(type='text/javascript' src='./js/main.js')
      script(type='text/javascript').
        var encrypted=false;
    script(src='//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/highlight.min.js')
    link(rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/styles/default.min.css')
    -if(encrypted)
      script(type='text/javascript' src='../js/lib/highlightjs-line-numbers.js')
    -else
      script(type='text/javascript' src='./js/lib/highlightjs-line-numbers.js')
    script(type='text/javascript').
      var fileName="!{fileName}";
  body
    -if(title != null && title.trim().length > 0)
      h1#title= title
    -if(description != null && description.trim().length > 0)
      p#description= description
    div#optionBar
      div#decryption(style='display:none;')
        span#decryptionStatus
          | Locked
        input(id='password' placeholder='Enter Password', type='password')
        button(onclick='decrypt()') Decrypt
      a#downloadLink(style='display:none;') Download
      label#lineNumbersLabel(style='display:none;')
        input#lineNumbersCheckbox(type='checkbox' onclick='toggleLineNumbers(); saveOptions();')
        | Show Line Numbers
    center
      img#image(style='display:none;width:80%;')
    pre
      code#content #{content}
