doctype html
html
  head
    -if(title != null)
      title= title
    -else
      title= fileName
    link(rel='stylesheet' href='/stylesheets/style.css')
    link(rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/styles/default.min.css')
    script(type='text/javascript' src='/js/lib/jquery.min.js')
    script(type='text/javascript' src='/js/lib/js.cookie.js')
    script(type='text/javascript' src='/js/lib/aes.js')
    script(type='text/javascript' src='/js/view.js')
    script(type='text/javascript' src='/js/time.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/highlight.min.js')
    script(type='text/javascript' src='/js/lib/highlightjs-line-numbers.js')
    script(type='text/javascript').
      var fileName = '#{fileName}';
    -if(encrypted)
      script(type='text/javascript').
        var encrypted = true;
        var cipherText = "#{content}";
    -else
      script(type='text/javascript').
        var encrypted = false;
  body
    -if(title != null)
      h1#title= title
    -if(description != null)
      p#description= description
    p#uploadDetails(style='display:none;')
      | Uploaded on 
      span(class='uploadTime')= time
      |  by 
      span(class='uploadUser') <b>#{user}</b>
    div#optionBar
      -if(encrypted)
        div#decryption
          input#passwordEntry(placeholder='Password' type='password')
          button#decryptButton(onclick='decrypt();') Decrypt
      -if(encrypted == false)
        a#downloadLink(href='/raw/#{fileName}' download='#{fileName}') Download
      -else
        a#downloadLink(download='#{fileName}') Download
      -if(isOwner)
        a#deleteLink(href='/edit/#{fileName}') Edit
        a#deleteLink(href='/delete/#{fileName}') Delete
      -if(image == false)
        -if(encrypted)
          label#lineNumbers(style='display:none;')
            input#lineNumbersCheckbox(type='checkbox' onclick='toggleLineNumbers(); saveOptions();')
            | Line Numbers
        -else
          label#lineNumbers
            input#lineNumbersCheckbox(type='checkbox' onclick='toggleLineNumbers(); saveOptions();')
            | Line Numbers
      -if(authorized)
        a.floatRight(href='/logout') Log Out
      -else
        a.floatRight(href='/login') Log In
    script(type='text/javascript').
      renderTimes();
    -if(encrypted)
      -if(image)
        center
          img#image(style='display:none;' width:'auth')
      -else
        pre
          code#content(style='display:none;')
    -else
      -if(image)
        center
          img#image(src='/raw/#{fileName}' width='auto')
      -else
        pre
          code#content= content
