mixin jsTools
  -if(fileType == 'image')
    span#imageTools.hpad(style='display:none;')
      span.divider
      label
        | Scale: 
        input#imageScale(type='number' min='10' max='100' value='75' oninput="scaleImage();" onchange="saveSettings();")
  -else if(fileType == 'text' || fileType == null)
    span#textTools.hpad(style='display:none;')
      span.divider
      a#copyLink.plain(onclick='copyToClipboard();') Copy
      span.divider
      a#lineNumbers.switch(onclick="setLineNumbers(); saveSettings();") Line Numbers
  -if(session.admin || session.validate(user))
    span#ownerTools.hpad.floatRight
      a(href='/edit/#{fileName}')
        img(src='/edit.png' height='16px')
      a(href='/delete/#{fileName}')
        img(src='/delete.png' height='16px')

doctype html
html
  head
    -if(title != null)
      title= title
    -else
      title= fileName
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href='/stylesheets/style.css')
    link(rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/styles/default.min.css')
    script(src='/js/lib/jquery.min.js')
    script(src='/js/lib/js.cookie.js')
    script(src='/js/view.js')
    script(src='/js/time.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/highlight.min.js')
    script(src='/js/lib/highlightjs-line-numbers.js')
    script.
      var fileName = '#{fileName}',
          fileExt = '#{fileExt}',
          encrypted = #{encrypted};
    -if(fileType == null)
      script.
        var fileType = null,
            subType = null;
    -else
      script.
        var fileType = '#{fileType}',
            subType = '#{subType}';
  body
    include globalBar
    div#header
      h1#title= title || fileName
      -if(description != null)
        span#description= description
      div#info.hpad
        div#uploadInfo
          span.hidden.uploadTime= time
          |  by 
          a(href='/user/#{user}')= user
          script.
            renderAbsoluteTimes();
        div#fileInfo.hpad
          -if(title != null)
            span#fileName <u>#{fileName}</u>
            span.divider
          span#fileSize Size: <u>#{fileSize}</u>
    -if(encrypted)
      div#tools.hpad
        span#genericTools(style='display:none;')
          a#downloadLink(download='#{fileName}') Download
        mixin jsTools
      div#decryption
        div#decryptionStatus This file is encrypted.
        div#decryptionTools.hpad
          input#passwordEntry(type='password' placeholder='Password' autocomplete='new-password' autofocus)
          button#decryptButton(disabled='true' onclick='decrypt();') Decrypt
      if(fileType == 'image')
        center#imageContainer(style='display:none;')
          a#imageLink
            img#content
      -else if(fileType == 'audio')
        center#audioContainer()
          audio#content(controls)
            source(src='/x/#{fileName}' type='#{mimeType}')
      -else if(fileType == 'video')
        center#videoContainer(style='display:none;')
          video#content(controls)
            source(src='/x/#{fileName}' type='#{mimeType}')
      -else
        div#binaryNotice(style='display:none;') This file cannot be displayed.
        div#textContainer(style='display:none;')
          code#content
    -else
      div#tools.hpad
        a#downloadLink(href='/x/#{fileName}' download='#{fileName}') Download
        mixin jsTools
      -if(fileType == 'image')
        center#imageContainer
          a#imageLink(href='/x/#{fileName}')
            img#content(src='/x/#{fileName}')
      -else if(fileType == 'audio')
        center#audioContainer
          audio#content(controls)
            source(src='/x/#{fileName}' type='#{mimeType}')
      -else if(fileType == 'video')
        center#videoContainer
          video#content(controls)
            source(src='/x/#{fileName}' type='#{mimeType}')
      -else if(fileType == 'application')
        div#binaryNotice This file cannot be displayed.
      -else
        div#textContainer
          code#content= content
