doctype html
html
  head
    -if(title != null)
      title= title
    -else
      title= fileName
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href='/stylesheets/style.css')
    link(rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/styles/default.min.css')
    script(type='text/javascript' src='/js/lib/jquery.min.js')
    script(type='text/javascript' src='/js/lib/js.cookie.js')
    script(type='text/javascript' src='/js/lib/aes.js')
    script(type='text/javascript' src='/js/view.js')
    script(type='text/javascript' src='/js/time.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/highlight.min.js')
    script(type='text/javascript' src='/js/lib/highlightjs-line-numbers.js')
    script(type='text/javascript').
      var fileName = '#{fileName}',
          encrypted = #{encrypted},
          fileType = '#{fileType}',
          mimeType = '#{mimeType}',
          fileExt = '#{fileExt}';
    -if(encrypted)
      script(type='text/javascript').
        cipherText = "#{content}";
  body
    div#globalBar.childPad
      -if(session.validate())
        a.uploadLink(href='/') Upload
        span.divider
        a.listingLink(href='/private') Private
        span.divider
      a.listingLink(href='/public') Public
      span.floatRight
        -if(session.validate())
          a(href='/logout') Log Out
        -else
          a(href='/login') Log In
    div#header
      h1#title= title || fileName
      -if(description != null)
        span#description= description
      div#info
        | by 
        bold
          a(href='/user/#{user}')= user
        |  on 
        span.uploadTime= time
        script(type='text/javascript').
          renderTimes();
    div#optionBar.childPad
      -if(encrypted)
        span#decryption
          input#passwordEntry(type='password' placeholder='Password' autocomplete='new-password')
          button#decryptButton(disabled='true' onclick='decrypt();') Decrypt
        a#downloadLink(style='display:none;' download='#{fileName}') Download
      -else
        a#downloadLink(href='/x/#{fileName}' download='#{fileName}') Download
      -if(mimeType == null)
        span#textTools.childPad(style='display:none;')
          span.divider
          button#copyTextButton(onclick='copyToClipboard();') Copy
          input#lineNumbersCheckbox(type='checkbox' onclick='toggleLineNumbers()')
          label#lineNumbersLabel(for='lineNumbersCheckbox') Line Numbers
      -if(session.admin || session.validate(user))
        span#ownerTools.floatRight.childPad
          a(href='/edit/#{fileName}') Edit
          span.divider
          a.warnLink(href='/delete/#{fileName}') Delete
    -if(encrypted)
      if(fileType == 'image')
        center#imageContainer(style='display:none;')
          img#content
      -else if(fileType == 'audio')
        center#audioContainer(style='display:none;')
          audio#content(controls)
            source(src='/x/#{fileName}' type='#{mimeType}')
      -else if(fileType == 'video')
        center#videoContainer(style='display:none;')
          video
            source(src='/x/#{fileName}' type='#{mimeType}')
      -else
        div#binaryNotice(style='display:none;') This file cannot be displayed.
        div#textContainer(style='display:none;')
          code#content
    -else
      -if(fileType == 'image')
        center#imageContainer
          img#content(src='/x/#{fileName}')
      -else if(fileType == 'audio')
        center#audioContainer
          audio#content(controls)
            source(src='/x/#{fileName}' type='#{mimeType}')
      -else if(fileType == 'video')
        center#videoContainer
          video#video(controls)
            source(src='/x/#{fileName}' type='#{mimeType}')
      -else if(fileType == 'binary')
        div#binaryNotice This file cannot be displayed.
      -else
        div#textContainer
          code#content= content
