doctype html
html
  head
    -if(title != null)
      title= title
    -else
      title= fileName
    link(rel='stylesheet' href='/stylesheets/style.css')
    script(type='text/javascript' src='/js/lib/jquery.min.js')
    script(type='text/javascript' src='/js/lib/aes.js')
    script(type='text/javascript' src='/js/lib/js.cookie.js')
    script(type='text/javascript' src='/js/main.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/highlight.min.js')
    script(type='text/javascript' src='/js/lib/highlightjs-line-numbers.js')
    link(rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/styles/default.min.css')
    script(type='text/javascript').
      var fileName = "#{fileName}";
    -if(encrypted)
      script(type='text/javascript').
        var encrypted = true;
        var cipherText = "#{content}";
    -else
      script(type='text/javascript').
        var encrypted = false;
  body
    -if(title != null)
      h1#title= title
    -if(description != null)
      p#description= description
    div#optionBar
      -if(encrypted)
        div#decryption(style='display:none;')
          input#passwordEntry(placeholder='Enter Password' type='password')
          button#decryptButton(onclick='decrypt()') Decrypt
      a#downloadLink(style='display:none;') Download
      label#lineNumbersLabel(style='display:none;')
        input#lineNumbersCheckbox(type='checkbox' onclick='toggleLineNumbers(); saveOptions();')
        | Show Line Numbers
      span(class='uploadInfo') Uploaded at #{time.toString()} by #{user}
    center
      img#image(style='display:none;')
    pre
      code#content #{content}
