doctype html
html
  head
    -if(title != null)
      title= title
    -else
      title= fileName
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href='/stylesheets/style.css')
    link(rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/styles/default.min.css')
    script(type='text/javascript' src='/js/lib/jquery.min.js')
    script(type='text/javascript' src='/js/lib/js.cookie.js')
    script(type='text/javascript' src='/js/lib/aes.js')
    script(type='text/javascript' src='/js/view.js')
    script(type='text/javascript' src='/js/time.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/highlight.min.js')
    script(type='text/javascript' src='/js/lib/highlightjs-line-numbers.js')
    script(type='text/javascript').
      var fileName = '#{fileName}',
          encrypted = #{encrypted},
          fileType = '#{fileType}',
          mimeType = '#{mimeType}',
          fileExt = '#{fileExt}';
    -if(encrypted)
      script(type='text/javascript').
        cipherText = "#{content}";
  body
    div#globalBar.childPad
      -if(session.validate())
        a.uploadLink(href='/') Upload
        span.divider
        a.green(href='/private') Private
        span.divider
      a.green(href='/public') Public
      span.floatRight
        -if(session.validate())
          a(href='/logout') Log Out
        -else
          a(href='/login') Log In
    div#header
      h1#title= title || fileName
      -if(description != null)
        span#description= description
      div#info.childPad
        div
          | by 
          bold
            a(href='/user/#{user}')= user
          |  on 
          span.uploadTime= time
          script(type='text/javascript').
            renderTimes();
        -if(title != null)
          span#fileName File name:
            | <u>#{fileName}</u>
          span.divider
        span#fileSize File size:
          | <u>#{fileSize}</u>
    div#contentTools.childPad
      -if(encrypted)
        a#downloadLink(style='display:none;' download='#{title || fileName}') Download
      -else
        a#downloadLink(href='/x/#{fileName}' download='#{title || fileName}') Download
      -if(fileType == 'text' || fileType == null)
        span#textTools.childPad(style='display:none;')
          span.divider
          a#copyLink(href='#' onclick='copyToClipboard();') Copy
          span.divider
          span
            | Line Numbers: 
            a#lineNumbers(href='#' onclick='setLineNumbers(); saveSettings()')
      -else if(fileType == 'image')
        span#imageTools.childPad(style='display:none;')
          span.divider
          input#imageScale(type='range' value='80' oninput='scaleImage();' onchange='saveSettings()')
      -if(session.admin || session.validate(user))
        span#ownerTools.childPad.floatRight
          a(href='/edit/#{fileName}') Edit
          span.divider
          a.red(href='/delete/#{fileName}') Delete
    -if(encrypted)
      center#decryption
        div#decryptionStatus This file is encrypted.
        span.childPad
          input#passwordEntry(type='password' placeholder='Password' autocomplete='new-password')
          button#decryptButton(disabled='true' onclick='decrypt();') Decrypt
      if(fileType == 'image')
        center#imageContainer(style='display:none;')
          a#imageLink
            img#content
      -else if(fileType == 'audio')
        center#audioContainer(style='display:none;')
          audio#content(controls)
            source(src='/x/#{fileName}' type='#{mimeType}')
      -else if(fileType == 'video')
        center#videoContainer(style='display:none;')
          video#content(controls)
            source(src='/x/#{fileName}' type='#{mimeType}')
      -else
        div#binaryNotice(style='display:none;') This file cannot be displayed.
        div#textContainer(style='display:none;')
          code#content
    -else
      -if(fileType == 'image')
        center#imageContainer
          a#imageLink(href='/x/#{fileName}')
            img#content(src='/x/#{fileName}')
      -else if(fileType == 'audio')
        center#audioContainer
          audio#content(controls)
            source(src='/x/#{fileName}' type='#{mimeType}')
      -else if(fileType == 'video')
        center#videoContainer
          video#content(controls)
            source(src='/x/#{fileName}' type='#{mimeType}')
      -else if(fileType == 'binary')
        div#binaryNotice This file cannot be displayed.
      -else
        div#textContainer
          code#content= content
